{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Task</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>

<body>
    <form method="post">
        {% csrf_token %}
        <div class="container">
            <h1>Update Student</h1>
            <div class="input-group">
                <div class="input-field">
                    <label>Name</label>
                    <input type="text" name="name" required value="{{student.name}}">
                </div>
                <div class="input-field">
                    <label>Phone No.</label>
                    <input type="number" name="number" required value="{{student.number}}">
                </div>
                <div class="input-field">
                    <label>Email-ID</label>
                    <input type="email" name="email" required value="{{student.email}}">
                </div>
                <div class="input-field">
                    <label>Percentage</label>
                    <input type="text" name="percentage" required value="{{student.percentage}}">
                </div>
            </div>
            <button type="submit" class="submit-btn">SUBMIT</button>
        </div>
    </form>
</body>

</html>