{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Task</title>
    <link rel="stylesheet" href="{% static 'css/login.css'%}">
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <center>
            <div class="container">
                <h1>Teacher Register</h1>
                <div class="input">
                    Username <br>
                    <input type="text" name="username" required> <br> <br>
                    Password <br>
                    <input type="text" name="password" required> <br> <br>
                    Name <br>
                    <input type="text" name="name" required> <br> <br>
                    Mobile Number <br>
                    <input type="number" name="number" required> <br> <br>
                    Email <br>
                    <input type="email" name="email" required> <br> <br>
                </div>
                <button>SUBMIT</button> <br> <br>
            </div>
        </center>
    </form>
</body>
</html>